page-more {
    .content {
        .user-name {
            color: black;
        }

        .view-profile {
            font-size: 12px;
        }

        ion-list {
            ion-item {
                p {
                    color: black;
                }

                ion-badge {
                    background-color: gray;
                    border-radius: 64px;
                }
            }
        }

        .item-title {
            color: gray;
        }

        .top-border {
            border-top: 1px solid lightgray;
        }

        .see-all {
            margin-left: 30px;
            font-size: 13px;
        }
    }
}
